* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 200px;
    background-color: #591F12;
    padding: 24px;
}

nav {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #FEDB37 0%, #FED336 24%, #FDC834 55%, #FDB931 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Círculos arredondados nas laterais */
nav::before,
nav::after {
    content: "";
    position: absolute;
    top: 0;
    width: 10px;
    height: 100%;
    background-image: radial-gradient(circle, #591F12 5px, transparent 5px);
    background-repeat: repeat-y;
    background-size: 10px 13px;
}

nav::before {
    left: -5px;
}

nav::after {
    right: -5px;
}
/* Estilos específicos do header de pesquisa */
.header-search .search-section {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 219px;
    width: 100%;
}

.header-search .search-box {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: white;
    cursor: pointer;
    border-radius: 6px;
    padding: 6px;
    border: 2px solid transparent; /* Borda inicial invisível */
    transition: border-color 0.3s ease; /* Transição suave para a borda */
}

.header-search .search-box .search-input {
    padding: 6px;
    border: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 17px;
    color: #591F12; /* Cor do texto digitado */
    border-radius: 6px;
    outline: none; /* Remove a borda padrão ao focar */
}

.header-search .search-box .search-input::placeholder {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 16px;
    color: rgba(89, 31, 18, 0.2); /* #591F12 com 20% de opacidade */
}

.header-search .search-box button {
    padding: 8px;
    background-color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.header-search .search-box button svg {
    width: 20px;
    height: 20px;
    fill: rgba(89, 31, 18, 1); /* Cor padrão do ícone */
    transition: fill 0.3s ease; /* Transição suave para o ícone */
}

/* Estilo ao focar no input */
.header-search .search-box .search-input:focus {
    color: #591F12; /* Cor do texto digitado em foco */
}

.header-search .search-box:focus-within {
    border-color: #591F12; /* Muda a borda da caixa ao focar no input */
}

.header-search .search-box:focus-within button svg {
    fill: #591F12; /* Muda a cor do ícone ao focar no input */
}

/* Nome da loja com arco */
.header-search .store-name-arc svg {
    display: block;
    margin: 0 auto;
}

.header-search .store-name-arc text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    fill: #591F12;
}

/* Seção de Logo */
.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 84px;
    margin-bottom: 6px;
    height: 18px;
}

.line {
    width: 430px;
    height: 5px;
    background-color: #591F12;
}

.ney {
    display: none;
}

/* Navegação */
.nav-section {
    display: flex;
    gap: 274px;
    margin-top: 10px;
}
.nav-section a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #591F12;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    gap: 12px;
    position: relative; /* Necessário para o posicionamento do ::after */
    padding-bottom: 6px; /* Espaço entre o texto e o sublinhado */
}
.nav-section form button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    background-color: transparent;
    flex-wrap: wrap;
    color: #591F12;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    gap: 10px;
    position: relative; /* Necessário para o posicionamento do ::after */
    padding-bottom: 6px; /* Espaço entre o texto e o sublinhado */
}

.nav-section form button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Espessura do sublinhado */
    background-color: #591F12; /* Cor do sublinhado */
    transition: width 0.3s ease; /* Animação suave */
}

.nav-section form button:hover {
    cursor: pointer;
}
.nav-section form button:hover::after {
    width: 100%; /* Expande o sublinhado para 100% ao passar o mouse */
}

.nav-section a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Espessura do sublinhado */
    background-color: #591F12; /* Cor do sublinhado */
    transition: width 0.3s ease; /* Animação suave */
}

.nav-section a:hover::after {
    width: 100%; /* Expande o sublinhado para 100% ao passar o mouse */
}

.nav-section svg {
    width: 20px;
    height: 20px;
    fill: rgba(89, 31, 18, 1);
}
