* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização somente do Header e do Nav sem ser das sessões dentro do Nav*/

header {
    width: 100%;
    height: 200px;
    background-color: #591F12;
    padding: 24px;
}

nav {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #FEDB37 0%, #FED336 24%, #FDC834 55%, #FDB931 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav::before,
nav::after {
    content: "";
    position: absolute;
    top: 0;
    width: 10px;
    height: 100%;
    background-image: radial-gradient(circle, #591F12 5px, transparent 5px);
    background-repeat: repeat-y;
    background-size: 10px 13px;
}

nav::before {
    left: -5px;
}

nav::after {
    right: -5px;
}

/* Final da Estilização somente do Header e do Nav sem ser de nenhuma Divisão dentro do Nav */



/* Inicio da Estilização somente da divisão top-section */

.nav-top-section {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 84px;

    .line {
        width: 430px;
        height: 5px;
        background-color: #591F12;
    }
}

/* Final da Estilização somente da divisão top-section */


/* Inicio da Estilização somente da divisão center-section */
.nav-center-section {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 133px
}

.search-section {
    display: flex;
    align-items: center;
    gap: 190px;
}



.nav-center-section .search-box {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: white;
    cursor: pointer;
    border-radius: 6px;
    padding: 6px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.nav-center-section .search-box .search-input {
    padding: 6px;
    border: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 17px;
    color: #591F12;
    border-radius: 6px;
    outline: none;
}

.nav-center-section .search-box .search-input::placeholder {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 16px;
    color: rgba(89, 31, 18, 0.2);
}

.nav-center-section .search-box button {
    padding: 8px;
    background-color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.nav-center-section .search-box button svg {
    width: 20px;
    height: 20px;
    fill: rgba(89, 31, 18, 1);
    transition: fill 0.3s ease;
}

.nav-center-section .search-box .search-input:focus {
    color: #591F12;
}

.nav-center-section .search-box:focus-within {
    border-color: #591F12;
}

.nav-center-section .search-box:focus-within button svg {
    fill: #591F12;
}



.store-name-arc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 293.1px;
    height: 59.41px;
    overflow: hidden;
}

.store-name-arc svg {
    width: 100%;
    height: 100%;
    display: block;
}

.store-name-arc text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    fill: #591F12;
    letter-spacing: 5px;
    /* Ajuste o valor conforme necessário */
}

.logout-placeholder {
    width: 80px;
    /* Defina a mesma largura do botão de logout */
    height: 30px;
    /* Defina a altura conforme necessário */
    visibility: hidden;
    /* Invisível, mas ainda ocupa espaço */
}

.logout-section {
    width: 80px;
    /* Defina a mesma largura do placeholder */
    height: 30px;
    /* Defina a altura conforme necessário */
}

.logout-text {
    color: #591F12;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    background: none;
    /* Remove o fundo do botão */
    border: none;
    /* Remove a borda do botão */
    cursor: pointer;
    /* Muda o cursor para indicar que é clicável */
    padding: 0;
    /* Remove qualquer padding */
    outline: none;
    /* Remove o contorno ao focar */
}

.logout-icon {
    background: none;
    /* Remove o fundo do botão */
    border: none;
    /* Remove a borda do botão */
    cursor: pointer;
    /* Muda o cursor para indicar que é clicável */
    padding: 0;
    /* Remove qualquer padding */
    outline: none;
    /* Remove o contorno ao focar */
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Final da Estilização somente da divisão center-section */




.nav-bottom-section {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 49px;
}

.nav-bottom-section a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #591F12;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    gap: 12px;
    position: relative;
    padding-bottom: 6px;
}

.nav-bottom-section form button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    background-color: transparent;
    flex-wrap: wrap;
    color: #591F12;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    gap: 10px;
    position: relative;
    padding-bottom: 6px;
}

.nav-bottom-section form button::after,
.nav-bottom-section a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #591F12;
    transition: width 0.3s ease;
}

.nav-bottom-section form button:hover,
.nav-bottom-section a:hover {
    cursor: pointer;
}

.nav-bottom-section form button:hover::after,
.nav-bottom-section a:hover::after {
    width: 100%;
}

.nav-bottom-section svg {
    width: 20px;
    height: 20px;
    fill: rgba(89, 31, 18, 1);
}

.icon-24px {
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: #591f12;
    /* Cor padrão para os ícones */
}

.nav-bottom-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 297px;
}