/* Estilização padrão */
.tituloDefault {
    font-family: "Caveat", cursive;
    font-size: 48px;
    font-weight: 400;
    color: #591f12;
    margin-bottom: 12px;
}

.subtituloDefault {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: #591f12;
    text-transform: uppercase;
    text-align: center;
}

/* Estilização específica */
.tituloChocolate,
.tituloNatal,
.tituloMaisVendidos {
    font-family: "Caveat", cursive;
    font-size: 48px;
    font-weight: 400;
    color: #591f12;
    margin-bottom: 12px;
}

.subtituloChocolate,
.subtituloNatal,
.subtituloMaisVendidos {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: #591f12;
    text-transform: uppercase;
    text-align: center;
}

body .tituloHome {
    text-align: center;
}

.home-carousels-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-carousels-container .carousel-natal-slide {
    gap: 159px;
}

.home-carousels-container .carousel-chocolate-track {
    gap: 159px;
}
.home-carousels-container .carousel-track {
    gap: 78px;
}

.home-carousels-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

.home-component-title-01 .tituloHome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 486.32px;
    margin-bottom: 48px;
}

.home-component-title-02 .tituloHome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 694px;
}

.home-component-title-03 .tituloHome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 48px;
    width: 992px;
}

.home-carousels-container .carousel-chocolate-wrapper {
    width: 100vw; /* Força 100% da largura da viewport */
    background-color: #591f12;
    margin-top: 235px;
}

.circle {
    width: 180.74px;
    height: 202px;
    background-color: #591f12;
    border-radius: 50%;
}
