/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

main.detalhesProduto {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #9C2824;
}

/* Carrossel de Produtos Relacionados */
.carousel-cards {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
}

.carousel-cards-inner {
    display: flex;
    transition: transform 0.3s ease;
}

.carousel-btn-cards {
    background-color: #FFC107;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5em;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-btn-cards.prev-card {
    left: 5px;
    z-index: 1;
}

.carousel-btn-cards.next-card {
    right: 5px;
}

/* Card de Produto Relacionado */
.cardProduto {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
}

.cardProduto .carousel {
    position: relative;
    overflow: hidden;
}

.cardProduto .carousel-images {
    display: flex;
    transition: transform 0.3s ease;
}

.cardProduto .carousel-images img {
    width: 100px;
    height: 100px;
    margin: 0 5px;
}

.cardProduto .carousel-btn {
    background-color: #FFC107;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.cardProduto .carousel-btn.prev {
    left: -15px;
}

.cardProduto .carousel-btn.next {
    right: -15px;
}

.categoriaProduto {
    color: #9C2824;
    font-weight: bold;
    margin: 10px 0;
}

.nomeProduto {
    color: #777;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin: 5px 0;
}

.orientacaoPreco {
    margin: 10px 0;
}

.precoProduto .precoFinal {
    font-size: 1.2em;
    color: #777;
    font-weight: bold;
}

.cardProduto .btn-AddCarrinho {
    background-color: #FFC107;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
}

.orientacao{
    display: flex;
}
.precoDesc{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 20px;
}
.botaoTamanho{
    width: 40%;
}
.imagemProduto{
    width: 200px;
    height: 150px;
    margin: 10px 0px 20px 0px;
    
}
.qtdItens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #591F12;
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 20px;
}
.countItens{
    color: #591F12;
}
.btn-qtdItens{
    font-size: 1.5rem;
    cursor: pointer;
    color: #591F12;
    background-color: #FFF;
}
.btn-AddCarrinho{
    width: 100%;
    height: 50px;
    background-color: #D94A4A;
    cursor: pointer;
    margin-bottom: 20px;
}
.btn-AddCarrinho a{
    text-decoration: none;
    color: #FFF;
    font-size: 1.2rem;
    padding: 10px;
}

/* carousel */
.carousel {
    position: relative;
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-images p{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.carousel-images img {
    width: 100%;
    flex-shrink: 0;
}

.carousel-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    background-color: #FED336;
    color: #591F12;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 17%;
    font-size: 1rem;
}
.carousel-btn.prev {
    left: 0; /* Fixa o botão "prev" à esquerda */
    z-index: 1;
}

.carousel-btn.next {
    right: 0; /* Fixa o botão "next" à direita */
}

