
.orientacaoCards{
    width: 100%;
    display: flex;
    overflow: auto;
    justify-content: center;
    flex-wrap: wrap;
}
.cardProduto{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 24px;
    padding: 10px 20px 0px 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    max-width: 20%;
}

.imagemProduto{
    width: 60%;
    margin: 10px 0px 20px 0px;
    
}
.nomeProduto{
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}
.precoProduto{
    color: #90A4AE;
    margin-right: 10px;
}
.precoFinal{
    color: #FD7022;
    font-weight: bold;
}
.desconto{
    background-color: #FFF3E0;
    color: #FD7022;
    border-radius: 24px;
    padding: 8px;
    font-weight: bold;
}
.categoriaProduto{
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #90A4AE;
    padding: 5px;
    cursor: pointer;
}
.icon{
    width: 30px;
    cursor: pointer;
}
.orientacaoIconeDesconto{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.orientacaoPreco{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #FD7022;
    border-radius: 50%; /* Deixa as setas arredondadas */
}
.carousel-control-next-icon{
color: #FD7022;
}