* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #EAEAEA;
    font-family: Arial, sans-serif;
}

section {
    width: 100%;
}

.forgotpassword-container {
    display: flex;
    justify-content: center;
    text-align:start;
    width: 700px;
    height: 606px;
    font-family: 'Poppins', sans-serif;
}

.forgotpassword-container h2 {
    font-size: 32px;
    color: #4A2F25;
    font-weight: bold;
    margin-bottom: 20px;
}

.forgotpassword-container label {
    display: block;
    font-size: 24px;
    color: #8B4513;
    margin-bottom: 8px;
    text-align: left;
}

.forgotpassword-container input[type="email"] {
    width: 698px;
    height: 52px;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.forgotpassword-container button {
    width: 100%;
    padding: 12px;
    font-size: 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.forgotpassword-container button:hover {
    background-color: #45A049;
}

.forgotpassword-container p {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
    color: #591F12;
}
.footer {
    width: 100%;
    height: 350px;
}