* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    text-align:start;
    width: 700px;
    height: 700px;
    font-family: 'Poppins', sans-serif;
}

.login-container h2 {
    font-size: 32px;
    color: #4A2F25;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    font-size: 24px;
    color: #4A2F25;
    margin-bottom: 8px;
    text-align: left;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 620px;
    height: 52px;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.password-container {
    position: relative;
}

.password-container input[type="password"] {
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 32px;
    color: #4A2F25;
}

.forgot-password {
    display: block;
    font-size: 14px;
    color: #007BFF;
    text-decoration: none;
    margin: 10px 0 20px;
    text-align: right;
}

.login-container button {
    width: 100%;
    padding: 12px;
    font-size: 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.login-container button:hover {
    background-color: #45A049;
}
