.card-container.todos-produtos {
    width: 294px;
    height: 428.6px;
    border-width: 1px 1px 0 1px;
    border: 1px solid #8E9090;
    justify-content: end;
    padding: 0;
    box-shadow: 
    0px -4px 6px rgba(0, 0, 0, 0.1),  /* Sombra Superior */
    4px 0px 6px rgba(0, 0, 0, 0.1),   /* Sombra Direita */
    -4px 0px 6px rgba(0, 0, 0, 0.1);  /* Sombra Esquerda */
}

.card-container.todos-produtos .specific-structure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 60px;
    height: 93px;
}

.card-container.todos-produtos .settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px; /* Ajustado conforme sua estilização */
    border: 1px solid #8E9090;
    background-color: transparent; /* Preservado do estilo geral */
    width: 100%; /* Preservado do estilo geral */
    margin-bottom: 12px; /* Preservado do estilo geral */
}

.card-container.todos-produtos .buttons-settings {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #D94A4A;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-container.todos-produtos .buttons-settings:hover {
    background-color: rgba(89, 31, 18, 0.1);
}

.card-container.todos-produtos .preco-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 24px; /* Ajustado conforme sua estilização */
}

.card-container.todos-produtos .preco-container:hover .preco-com-desconto,
.card-container.todos-produtos .preco-container:hover .preco-final {
    color: #591F12;
}

.card-container.todos-produtos .preco-original {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    text-decoration: line-through;
    display: flex;
    align-items: center;
}

.card-container.todos-produtos .preco-com-desconto,
.card-container.todos-produtos .preco-final {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #591F12;
    display: flex;
    align-items: center;
}

.card-container.todos-produtos .preco-container .simbolo {
    font-size: 14px; /* Menor que o número */
    margin-right: 10px; /* Espaço entre "R$" e o número */
    color: #8E9090; /* Cor do símbolo */
}

.card-container.todos-produtos .produto-nome {
    width: 100%;
    height: 98px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #591F12;
    margin: 12px 0 8px 0;
    text-align: center;
    transition: color 0.3s ease;
    cursor: pointer;
}

.card-container.todos-produtos .produto-nome:hover {
    color: #591F12;
}

.card-container.todos-produtos .add-to-cart-btn {
    border: 1px solid #D94A4A;
    width: 100%;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #D94A4A; /* Cor inicial (vermelho) */
    color: #FFFFFF; /* Cor do texto */
    border: none; /* Remover borda inicial */
    border-bottom-left-radius: 6px; /* Arredondamento inferior esquerdo */
    border-bottom-right-radius: 6px; /* Arredondamento inferior direito */
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    cursor: pointer;
}

.card-container.todos-produtos .add-to-cart-btn:hover {
    background-color: rgba(89, 31, 18, 0.1);
}

.card-container.todos-produtos .add-to-cart-btn.disabled {
    background-color: transparent;
    border: 1px solid #D94A4A;
    color: #D94A4A;
    cursor: not-allowed;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.card-container.todos-produtos .add-to-cart-btn.disabled box-icon {
    color: #D94A4A;
}

.card-container.todos-produtos .cart-button-icon box-icon {
    width: 24px;
    height: 24px;
}

.card-container.todos-produtos .add-to-cart-btn .cart-button-text {
    color: white;
}