/* resources/css/componentes-style/component-card.css */

.card-container {
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-bottom: 24px;
    box-shadow: -16px 16px 0px 0px #591F12;
    border-radius: 6px;
    background-color: #FFFFFF;
    transition: height 0.3s ease;
}

.card-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 24px;
}

.carousel-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-images img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.carousel-image {
    display: none;
}

.carousel-image.active {
    display: block;
}

.card-container .carousel-indicators {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 6px;
}

.card-container .indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #D9D9D9;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-container .indicator.active {
    background-color: #591F12;
}

.card-container .indicator:hover {
    background-color: #591F12;
}

[data-url] {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

[data-url]:hover {
    opacity: 0.8;
}

.produto-nome {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #591F12;
    margin: 12px 0 8px 0;
    text-align: center;
    transition: color 0.3s ease;
    margin-bottom: 12px;
}

.produto-nome:hover {
    color: #591F12;
    cursor: pointer;
}

.preco-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.preco-container:hover .preco-com-desconto,
.preco-container:hover .preco-final {
    color: #591F12;
}

.preco-original {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    text-decoration: line-through;
}

.preco-com-desconto {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #591F12;
}

.preco-final {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #591F12;
}

/* Estilização da settings-container */
.settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 81px;
    padding: 0;
    background-color: transparent;
    border: 1px solid #591F12;
    width: 100%;
    margin-bottom: 12px;
}

/* Estilização dos botões */
.buttons-settings {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #591F12;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons-settings:hover {
    background-color: rgba(89, 31, 18, 0.1);
}

/* Estilização do contador */
.countItens {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #591F12;
    text-align: center;
    min-width: 20px;
    display: inline-block;
}

/* Estilo do botão "Adicionar ao Carrinho" */
.add-to-cart-btn {
    width: 100%;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.3s ease;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
    cursor: pointer;
    background-color: rgba(89, 31, 18, 0.1);
}

.add-to-cart-btn a {
    color: #FFFFFF;
    text-decoration: none;
}

.add-to-cart-btn.disabled {
    background-color: transparent;
    border: 1px solid #D94A4A;
    color: #D94A4A;
    cursor: not-allowed;
    pointer-events: none; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart-btn.disabled box-icon {
    color: #D94A4A;
}
