/* Estilização padrão */
.tituloDefault {
    font-family: 'Caveat', cursive;
    font-size: 48px;
    font-weight: 400;
    color: #591F12;
    margin-bottom: 12px;
}

.subtituloDefault {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: #591F12;
    text-transform: uppercase;
    text-align: center;
}

/* Estilização específica */
.tituloChocolate, .tituloNatal, .tituloMaisVendidos {
    font-family: 'Caveat', cursive;
    font-size: 48px;
    font-weight: 400;
    color: #591F12;
    margin-bottom: 12px;
}

.subtituloChocolate, .subtituloNatal, .subtituloMaisVendidos {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: #591F12;
    text-transform: uppercase;
    text-align: center;
}

